.categories {
    margin: 0 0 10px 0;
    padding: 0;
    
    a {
        display: inline-block;
        text-decoration: underline;
        font-size: 14px;
        vertical-align: top;
        color: #9fa8b0;
        font-family: 'Open Sans Regular', sans-serif;

        &:hover {
            text-decoration: none;
        }
    }

    span {
        display: inline-block;
        text-decoration: underline;
        font-size: 14px;
        vertical-align: top;
        color: #9fa8b0;
        font-family: 'Open Sans Regular', sans-serif;
    }
}

.hidden-categories {
    border: 0;
    background-color: transparent;
    cursor: default;
    display: flex;
    width: calc(100% + 30px);
    margin-left: -15px;
    align-items: center;
    padding-left: 20px;
    

    .hamburger {
        position: static;
        display: none;
    }

    &:focus {
        outline: 0;
    }

    @media (max-width: 767.1px) {
        background-color: $accent-color;
        color: #ffffff;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700;

        .hamburger {
            display: block;
            margin-right: 15px;
        }
    }
}

.category-title.lease__title {
    width: 100%;

    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}