.censors {
    margin-bottom: 110px;

    @media (max-width: 767px) {
        margin-bottom: 0;
    }

    &__slider {
        margin-top: 50px;
        margin-bottom: 50px;

        @media (min-width: 768px) and (max-width: 992px) {

            .slick-prev {
                left: -20px;
            }

            .slick-next {
                right: -20px;
            }
        }


    }

    &__item {

        &:focus {
            outline: none;
        }

        img {
            margin: auto;

            &:focus {
                outline: none;
            }
        }

        a {
            transition: opacity .2s ease;
            display: block;

            &:focus {
                outline: none;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}