.lease {
    .example__content {
        margin-bottom: 30px;
    }


    @media (max-width: 767.1px) {

        .lease__be-lease {
            margin-bottom: 20px;
        }

        .title {
            margin-right: 20px;
            text-align: center;
        }

        .slick-slider .slick-track {
            display: flex;
            align-items: center;
        }
    }

    @media (max-width: 576px) {
        .title {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    &__left-side {
        max-width: 275px;
        width: 100%;
        background: #f7fcff;
        min-height: 200px;

        @media (max-width: 1199px) {
            display: none;
        }
    }

    &__right-side {
        background: white;
        height: 100%;
        width: 100%;
        min-height: 200px;
        padding-left: 50px;
        padding-right: 45px;

        @media (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__slider {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__left-menu {
        padding-left: 0;
    }

    &__left-item {
        list-style: none;
        padding-left: 30px;
        min-height: 40px;

        &:hover {
            background: #e6f4ff;
            width: 100%;
            min-height: 40px;
        }
    }

    &__dash {
        color: #0066b3;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 5px;

    }

    &__link {
        font-size: 14px;
        color: #0066b3;
        font-family: 'Open Sans Regular',sans-serif;

        &:hover {
            text-decoration: none;
        }

        &.active {
            font-weight: 700;
        }
    }

    &__bread {
        position: relative;
        z-index: 5;
        // margin-top: 10px; 
        padding-top: 24px;
    }

    &__be-lease {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 30px;

        @media (max-width: 767px) {
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 0;
        padding-top: 0;


        @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    &__btn {
        width: 194px;
        height: 40px;
        border-radius: 20px;
        background-color: #e6f4ff;
        line-height: 35px;

        transition: filter .15s ease;

            &:hover {
                filter: brightness(95%);
            }

        @media (max-width: 1199px) {
            display: none;
        }

        &--block {
            display: none;

            @media (max-width: 1199px) {
                display: block;
                margin: 45px auto 45px;
            }
        }
    }

    &__first-slider {
        width: 100%;
    }

    &__images {
        display: block;

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__images-down {
        display: flex;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 50px;
        justify-content: space-between;

        .lease__img {
            display: block;
            width: calc(33.3333% - 15px);
            height: 190px;
            max-height: 190px;

            @media (max-width: 767.1px) {
                height: initial;
                max-height: initial;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__img {
        max-height: 143px;
        height: 100%;
        overflow: hidden;

        transition: filter .15s ease;

            &:hover {
                filter: brightness(80%);
            }

        img {
            height: 100%;
        }

        &:focus {
            outline: none;
        }

        @media (max-width: 767px) {
            max-height: initial;
        }
    }

    &__middle-img {
        margin: 0 15px 0;
    }

    &__description {
        color: #2f3d4f;
        font-size: 16px;
        margin-bottom: 20px;

        &--last {
            margin-bottom: 50px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
    }

    &__bottom-block {
        text-align: center;
        margin-bottom: 30px;

        @media (max-width: 767.1px) {
            margin-top: 30px;
        }
    }

}

.lease__images.lease-image-slider {
    .lease__img {
        display: block;
        width: calc(33.3333% - 15px);
        height: initial;
        max-height: 180px;
        margin: 0 0 15px;

        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .lease__img--big {
        width: 100%;
        max-height: initial;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    @media (max-width: 767.1px) {
        display: block;
        
        .lease__img {
            max-height: initial;
            height: 200px;

            img {
                width: initial;
            }
        }

        .slick-arrow {
            width: 40px;
            height: 40px;

            &::before {
                width: 40px;
                height: 40px;
            }
        }
    }


}