.section {
    max-width: 1170px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex: 1;
    background-color: #ffffff;
    align-self: stretch;

    &__rel {
        position: relative;
    }
}