.shares {
    
    .title {
        margin-bottom: 20px;
        text-align: center;
        
        a {
            color: $color-main;
            display: inline-block;

            &:hover {
                color: $accent-color;
            }
        }
    }

    &__name {
        font-family: 'Open Sans Bold',sans-serif;
        font-size: 16px;
        color: $color-text;
        margin-bottom: 18px;
        margin-top: 20px;
        display: block;
    }

    &__container {
        z-index: 10;
        position: relative;
    }

    &__down {
        margin-top: 25px;
        text-align: justify;

        a {
            transition: filter .15s ease;
            display: inline-block;
            max-width: 167px;
            width: 100%;

            &:hover {
                filter: brightness(95%);
                text-decoration: none;
            }
        }

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

    }

    &__btn {
        display: inline-block;
    }

    &__date {
        color: #9fa8b0;
        display: inline-block;
    }

    &__none {

        @media (max-width: 992px) {
            display: none;
        }
    }

    &-section {
        &__title {
            margin: 0;

            @media (max-width: $point-sm) {
                margin-bottom: 20px;
            }

            @media (max-width: 375px) {
                margin-bottom: 20px;
            }
        }
    }
}

.shares-content {
    padding-bottom: 100px;
    max-width: 862px;
    margin-left: auto;
    margin-right: auto;

    .example__content {
        margin-bottom: 30px;
    }

    @media (max-width: $point-xl) {
        max-width: 100%;
    }

    @media (max-width: $point-sm) {
        padding-bottom: 30px;
    }
}

.shares-slider {
    .slick-slider {
      margin-bottom: 45px;  
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    img {
        height: 362px;
        object-fit: cover;

        @media (max-width: 1200px) {
            height: 450px;
        }

        @media (max-width: 992px) {
            height: initial;
        }
    }

    .slick-slide {
        outline: 0;
    }

    .slick-arrow {
        margin-top: 0;
        transform: translateY(-50%);
        @media (max-width: 767.1px) {
            width: 35px;
            height: 35px;
            &::before {
                width: 35px;
                height: 35px;
            }
        }
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }
    
    .slick-dots {
        bottom: 7%;

        @media (max-width: 767.1px) {
            li {
                width: 14px;
                height: 14px;

                &.slick-active {
                    &::before {
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }

        li {
            position: relative;
            width: 22px;
            height: 22px;
            background-color: #fff;
            &:not(:last-child) {
                margin-right: 20px;
            }

            &.slick-active {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-text;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.shares-content__text {
    font-size: 16px;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
}

.shares-content__list {
    padding-left: 20px;
}

.shares-content__item {
    margin-bottom: 20px;
}

.shares-content__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;

    @media (max-width: $point-xl) {
        justify-content: center;
    }
    @media (max-width: $point-lg) {
        justify-content: space-between;
    }
}

.shares-content__block {
    margin-bottom: 50px;
    flex-grow: 1;
    max-width: 370px;

    @media (max-width: $point-xl) {
        margin: 0 40px 35px 0;
        width: calc(50% - 40px);
        max-width: 100%;

        img {
            width: 100%;
        }
    }

    @media (max-width: 767.1px) {
        margin: 0 auto 35px;
        width: 100%;
        max-width: 700px;
        text-align: center;
    }
}

.shares-section__title--center {
    @media (max-width: $point-xl) {
        margin-left: auto;
        margin-right: auto;
    }
}

.tenant-shares {
    margin-bottom: 50px;
}