.shares {

    &__name {
        font-family: 'Open Sans Bold',sans-serif;
        font-size: 16px;
        color: $color-text;
        margin-bottom: 18px;
        margin-top: 20px;
        display: block;
    }

    &__container {
        z-index: 10;
        position: relative;
    }

    &__down {
        margin-top: 25px;
        text-align: justify;

        a {
            transition: filter .15s ease;

            &:hover {
                filter: brightness(95%);
                text-decoration: none;
            }
        }

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        @media (min-width: $point-sm) and (max-width: $point-lg) {
            text-align: center;

            > * {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }

    &__btn {
        display: inline-block;
    }

    &__date {
        color: #9fa8b0;
        display: inline-block;
    }

    &__none {

        @media (max-width: 992px) {
            display: none;
        }
    }

    &-section {
        &__title {
            margin: 0;

            @media (max-width: $point-sm) {
                margin-bottom: 20px;
            }

            @media (max-width: 375px) {
                margin-bottom: 20px;
            }
        }
    }
}

.shares-content {
    padding-bottom: 100px;
    max-width: 862px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $point-xl) {
        max-width: 100%;
    }

    @media (max-width: $point-sm) {
        padding-bottom: 30px;
    }
}

.shares-slider {
    .slick-slider {
      margin-bottom: 45px;  
    }
    
    .slick-dots {
        bottom: 7%;

        li {
            position: relative;
            width: 11px;
            height: 11px;
            background-color: #fff;
            &:not(:last-child) {
                margin-right: 20px;
            }

            &.slick-active {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-text;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.shares-slider__img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 0;
    padding-bottom: 42%;

    @media (max-width: $point-sm) {
        padding-bottom: 65%;
    }

    @media (max-width: 500px) {
        background-position-x: 100%;
    }
}

.shares-content__text {
    font-size: 16px;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
}

.shares-content__list {
    padding-left: 20px;
}

.shares-content__item {
    margin-bottom: 20px;
}

.shares-content__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;

    @media (max-width: $point-xl) {
        justify-content: center;
    }
    @media (max-width: $point-lg) {
        justify-content: space-between;
    }
}

.shares-content__block {
    margin-bottom: 50px;
    flex-grow: 1;
    max-width: 370px;

    @media (max-width: $point-xl) {
        margin: 0 20px 35px;
    }

    @media (max-width: $point-lg) {
        margin: 0 auto 35px;
        width: 100%;
        max-width: 700px;
        text-align: center;
    }
}

.shares-section__title--center {
    @media (max-width: $point-xl) {
        margin-left: auto;
        margin-right: auto;
    }
}