<!-- FOOTER --> 
<footer class="footer white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <a href="#"><img class="footer__logo" src="img/logo.png" alt=""></a>
                <div class="footer__data">
                    <div class="footer__left">
                        <div class="header__adress">Спб, ул. Марата, 86</div>
                        <div class="header__phone footer__phone"><a class="header__number" href="tel:+79219413588">+7 921 941-35-88</a></div>
                    </div>
                    <div class="footer__left">
                        <div class="header__time text footer__time">Время работы 9:00-22:00</div>
                        <a class="footer__email" href="mailto:info@planeta-neptun.ru"><div class="text">info@planeta-neptun.ru</div></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__menu footer__menu">
                            <nav>
                                <ul class="header__menu-list" id="append__menu-list">
                                    <li class="header__menu-item"><a href="#" class="header__menu-link">Главная</a></li>
                                    <li class="header__menu-item complex" id="complex">
                                        <a href="#" class="header__menu-link header__menu-link-about">О комплексе</a>
                                        <nav class="footer__side">
                                            <ul class="header__menu-sub-list--left">
                                                <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">История</a></li>
                                                <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link header__menu-sub-item--nowrap text">Характеристики комплекса</a></li>
                                                <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">Фотогалерея</a></li>
                                                <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">План комплекса</a></li>
                                            </ul>
                                        </nav>
                                    </li>
                                    <li class="header__menu-item header__menu-third">
                                        <a href="#" class="header__menu-link header__menu-link-tradezone">Торговая зона</a>
                                        <div class="footer__side">
                                            <nav>
                                                <ul class="header__menu-sub-list--left">
                                                    <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">Магазины</a></li>
                                                    <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">Развлечения</a></li>
                                                    <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">Рестораны и кафе</a></li>
                                                    <li class="header__menu-sub-item"><a href="#" class="header__menu-sub-link text">Услуги и сервис</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </li>
                                    <li class="header__menu-item footer__append"><a href="#" class="header__menu-link">акции и события</a></li>
                                    <li class="header__menu-item footer__append"><a href="#" class="header__menu-link">Аренда в трк</a></li>
                                    <li class="header__menu-item footer__append"><a href="#" class="header__menu-link">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <ul class="header__menu-list footer__here__append" id="append__menu-list">
                        <li class="header__menu-item"><a href="#" class="header__menu-link">акции и события</a></li>
                        <li class="header__menu-item complex" id="complex">
                            <a href="#" class="header__menu-link">Аренда в трк</a>
                        </li>
                        <li class="header__menu-item header__menu-third">
                            <a href="#" class="header__menu-link">Контакты</a>
                        </li>
                    </ul>
                    <div class="col-lg-6 col-sm-6">
                        <div class="text footer__vk">
                            <img src="img/icon-vk.png" alt="">
                            <a class="footer__planeta_neptun" href="https://vk.com/trk_planeta_neptun" class="text--underline">vk.com/trk_planeta_neptun</a>
                        </div>
                        <div class="footer__last-text">ТРК "Планета Нептун" — торговый развлекательный комплекс Санкт-Петербурга ©2018 СПб</div>
                        <div class="footer__last-text text--underline"><a href="http://volex.su">Создание сайта - веб студия интернет-агентства “Волекс”</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>